<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../../../assets/images/logo.png" alt="EstacionaPlus"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#parkingsSection">Estacionamientos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Acerca de Nosotros</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#login">Iniciar Sesión</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Iniciar Sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" [formGroup]="formLogin">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="emailLogin" placeholder="nombre@ejemplo.com" formControlName="emailLogin" required>
          <label for="floatingInput">Correo Electronico</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="passwordLogin" placeholder="contraseña" formControlName="passwordLogin" required>
          <label for="floatingPassword">Contraseña</label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="onLogin()">Iniciar Sesión</button> <br> <br>
        <p>
          ¿No tienes una cuenta? <a href="#" data-bs-toggle="modal" data-bs-target="#signin" data-bs-dismiss="modal">Regístrate gratis</a> <br>
          <a href="#">¿Olvidaste tu contraseña?</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="signin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registrarse</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" [formGroup]="formSignin">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="names" placeholder="nombre" formControlName="names" required>
          <label for="floatingInput">Nombres</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="lastNames" placeholder="apellidos" formControlName="lastNames"required>
          <label for="floatingInput">Apellidos</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="identificationNumber" placeholder="identificacion" formControlName="identificationNumber" required>
          <label for="floatingInput">Número de Identificación</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="phone" placeholder="identificacion" formControlName="phone" required>
          <label for="floatingInput">Telefono</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com" formControlName="email" required>
          <label for="floatingInput">Correo Electronico</label>
        </div>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="typeVehicle" required>
          <option selected>Tipo de Vehiculo</option>
          <option value="Motocicleta">Motocicleta</option>
          <option value="AutoMovil">AutoMovil</option>
        </select>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="license" placeholder="licencia" formControlName="license" required>
          <label for="floatingInput">Licencia</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password" placeholder="contraseña" formControlName="password" required>
          <label for="floatingPassword">Contraseña</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="confirmPassword" placeholder="confirmar contraseña" formControlName="confirmPassword" required>
          <label for="floatingPassword">Confirmar Contraseña</label>
        </div>
        <button type="submit" class="btn btn-primary mt-3" (click)="onClickRegister()">Registrarse</button> <br> <br>
        <p style="text-align:center">
          ¿Ya tienes una cuenta? <a href="#" data-bs-toggle="modal" data-bs-target="#login" data-bs-dismiss="modal">Inicia Sesion</a>
        </p>
      </div>
    </div>
  </div>
</div>
