<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../../../assets/images/logo.png" alt="EstacionaPlus"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#parkingsSection">Estacionamientos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus">Acerca de Nosotros</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{user.names}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" [title]="user.names" [routerLink]="['/profile', user.code]">Perfil</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#recordParking" data-bs-dismiss="modal" *ngIf="haveParking">¿Tienes una Estacionamiento?</a></li>
            <li><a class="dropdown-item" [title]="parking.name" [routerLink]="['/myparking', parking.code]" *ngIf="isAdmin">Mi Estacionamiento</a></li>
            <li><a class="dropdown-item" [title]="user.names" [routerLink]="['/settings', user.code]">Ajustes</a></li>
            <li><a class="dropdown-item" [title]="user.names" [routerLink]="['/myreservations', code]">Mis Reservaciones</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="onLogOut()">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="modal fade" id="recordParking" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registrar Estacionamiento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" [formGroup]="formRecordParking">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" [ngClass]="{'is-invalid': alertNameInput}" id="name" placeholder="Nombre" formControlName="name" required>
          <label for="floatingInput">Nombre</label>
        </div>
        <label class="message-error" *ngIf="alertNameInput">Este campo es obligatorio</label>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" [ngClass]="{'is-invalid': alertNITInput}" id="nit" placeholder="NIT" formControlName="nit"required>
          <label for="floatingInput">NIT</label>
        </div>
        <label class="message-error" *ngIf="alertNITInput">Este campo es obligatorio</label>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" [ngClass]="{'is-invalid': alertAddressInput}" id="address" placeholder="Dirección" formControlName="address" required>
          <label for="floatingInput">Dirección</label>
        </div>
        <label class="message-error" *ngIf="alertAddressInput">Este campo es obligatorio</label>

        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">Departamento</label>
          <select class="form-select" id="inputGroupSelect01" [(ngModel)]="stateSelected" (change)="captureState()" formControlName="state" required>
            <option value="0">Elige...</option>
            <option [value]="item" *ngFor="let item of states">{{item}}</option>
          </select>
        </div>
        <label class="message-error" *ngIf="alertStateInput">Este campo es obligatorio</label>

        <div class="input-group mb-3" *ngIf="cityField">
          <label class="input-group-text" for="inputGroupSelect02">Ciudad</label>
          <select class="form-select" id="inputGroupSelect02" [(ngModel)]="citySelected" (change)="captureCity()" formControlName="city" required>
            <option value="0">Elige...</option>
            <option [value]="item" *ngFor="let item of cities">{{item}}</option>
          </select>
        </div>
        <label class="message-error" *ngIf="alertCityInput">Este campo es obligatorio</label>

        <div class="form-floating mb-3">
          <input type="number" class="form-control" [ngClass]="{'is-invalid': alertCarPlacesInput}" id="phone" placeholder="Numero de Automoviles" formControlName="autoPlaces" required>
          <label for="floatingInput">Número de Lugares para Automoviles</label>
        </div>
        <label class="message-error" *ngIf="alertCarPlacesInput">Este campo es obligatorio</label>

        <div class="form-floating mb-3">
          <input type="number" class="form-control" [ngClass]="{'is-invalid': alertMotoPlacesInput}" id="phone" placeholder="Numero de Motocicletas" formControlName="motoPlaces" required>
          <label for="floatingInput">Número de Lugares para Motocicletas</label>
        </div>
        <label class="message-error" *ngIf="alertMotoPlacesInput">Este campo es obligatorio</label>

        <div class="container-fluid h-100">
          <div class="row w-100 align-items-center">
            <div class="col text-center">
              <button type="submit" class="btn btn-primary mt-3 btn-register" (click)="onClickRegister()">Registrar Estacionamiento</button> <br> <br>
            </div>
          </div>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="alertSignUpFailed">
          {{message}}
        </div>
      </div>
    </div>
  </div>
</div>
