*
{
  font-weight: var(--medium);
}

.form-floating .form-control
{
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 1.4rem;
}

.form-controled
{
  padding-top: 5px;;
  padding-bottom: 10px;
}

.datalist
{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.4rem;
}

.nav-link, .nav-item button, .modal-title, .dropdown-item
{
  font-size: 1.6rem;
}

.dropdown-item
{
  color: var(--warm-black);
}

.form-floating label, .alert div, .modal-content button
{
  font-size: 1.4rem;
}

.dropdown-menu
{
  background-color: var(--just-white);
}

.message-error
{
  padding-left: 2px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.modal-body select
{
  font-size: 1.4rem;
}

.modal-content p
{
  text-align:center;
  font-size: 1.4rem;
}

img
{
  display: block;
  margin: 0px auto;
  width: 45px;
  height: 45px;
}

li
{
  margin-right: 15px;
}

.alert
{
  font-size: 1.4rem;
}


