<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../../../assets/images/logo.png" alt="EstacionaPlus"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#parkingsSection">Estacionamientos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus">Acerca de Nosotros</a>
        </li>
        <li class="nav-item">
          <button id="loginButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#login">Iniciar Sesión</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Iniciar Sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" [formGroup]="formLogin">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" [ngClass]="{'is-invalid': alertEmailLoginInput}" id="emailLogin" placeholder="nombre@ejemplo.com" formControlName="emailLogin" required>
          <label for="floatingInput">Correo Electronico</label>
        </div>
        <label class="message-error" *ngIf="alertEmailLoginInput">Este campo es obligatorio</label>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="passwordLogin" placeholder="contraseña" formControlName="passwordLogin" required>
          <label for="floatingPassword">Contraseña</label>
        </div>
        <label class="message-error" *ngIf="alertPasswordLoginInput || alertSignUpSuccessful">Este campo es obligatorio</label>
        <div class="container-fluid h-100">
          <div class="row w-100 align-items-center">
            <div class="col text-center">
              <button type="submit" class="btn btn-primary" (click)="onLogin()">Iniciar Sesión</button>
            </div>
          </div>
        </div>
        <br>
        <div class="alert alert-danger" role="alert" *ngIf="alertWrongCredentials">
          El correo o la contraseña no son correctos
        </div>
        <br>
        <p>
          ¿No tienes una cuenta? <a href="#" data-bs-toggle="modal" data-bs-target="#signin" data-bs-dismiss="modal">Regístrate gratis</a> <br>
          <a href="#">¿Olvidaste tu contraseña?</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="signin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registrarse</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" [formGroup]="formSignin">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" [ngClass]="{'is-invalid': alertNameSigninInput}" id="names" placeholder="nombre" formControlName="names" required>
          <label for="floatingInput">Nombres</label>
        </div>
        <label class="message-error" *ngIf="alertNameSigninInput">Este campo es obligatorio</label>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" [ngClass]="{'is-invalid': alertLastNamesSigninInput}" id="lastNames" placeholder="apellidos" formControlName="lastNames"required>
          <label for="floatingInput">Apellidos</label>
        </div>
        <label class="message-error" *ngIf="alertLastNamesSigninInput">Este campo es obligatorio</label>

        <div class="form-floating mb-3">
          <input type="number" class="form-control" [ngClass]="{'is-invalid': alertIdentificationNumberSigninInput}" id="identificationNumber" placeholder="identificacion" formControlName="identificationNumber" required>
          <label for="floatingInput">Número de Identificación</label>
        </div>
        <label class="message-error" *ngIf="alertIdentificationNumberSigninInput">Este campo es obligatorio</label>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" [ngClass]="{'is-invalid': alertPhoneSigninInput}" id="phone" placeholder="identificacion" formControlName="phone" required>
          <label for="floatingInput">Telefono</label>
        </div>
        <label class="message-error" *ngIf="alertPhoneSigninInput">Este campo es obligatorio</label>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" [ngClass]="{'is-invalid': alertEmailSigninInput}" id="email" placeholder="usuario@ejemplo.com" formControlName="email" required>
          <label for="floatingInput">Correo Electronico</label>
        </div>
        <label class="message-error" *ngIf="alertEmailSigninInput">Este campo es obligatorio</label>
        <div class="form-controled">
          <input class="form-control datalist" [ngClass]="{'is-invalid': alertTypeVehicleSigninInput}" list="datalistOptions" id="exampleDataList" placeholder="Tipo de Vehiculo" formControlName="typeVehicle">
          <label class="message-error" *ngIf="alertTypeVehicleSigninInput">Este campo es obligatorio</label>
          <datalist class="datalist" id="datalistOptions">
            <option value="Motocicleta">
            <option value="AutoMovil">
          </datalist>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" [ngClass]="{'is-invalid': alertLicenseSigninInput}" id="license" placeholder="licencia" formControlName="license" required>
          <label for="floatingInput">Licencia</label>
        </div>
        <label class="message-error" *ngIf="alertLicenseSigninInput">Este campo es obligatorio</label>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" [ngClass]="{'is-invalid': alertPasswordSigninInput}" id="password" placeholder="contraseña" formControlName="password" required>
          <label for="floatingPassword">Contraseña</label>
        </div>
        <label class="message-error" *ngIf="alertPasswordSigninInput">Este campo es obligatorio</label>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" [ngClass]="{'is-invalid': alertConfirmPasswordSigninInput}" id="confirmPassword" placeholder="confirmar contraseña" formControlName="confirmPassword" required>
          <label for="floatingPassword">Confirmar Contraseña</label>
        </div>
        <label class="message-error" *ngIf="alertConfirmPasswordSigninInput">Este campo es obligatorio</label>
        <div class="container-fluid h-100">
          <div class="row w-100 align-items-center">
            <div class="col text-center">
              <button type="submit" class="btn btn-primary mt-3 btn-register" (click)="onClickRegister()">Registrarse</button> <br> <br>
            </div>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
          <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </symbol>
          <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
          </symbol>
          <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </symbol>
        </svg>

        <div class="alert alert-success d-flex align-items-center" role="alert" *ngIf="alertSignUpSuccessful">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
          <div>
            Registro Exitoso.
          </div>
        </div>
        <p style="text-align:center">
          ¿Ya tienes una cuenta? <a href="#" data-bs-toggle="modal" data-bs-target="#login" data-bs-dismiss="modal">Inicia Sesion</a>
        </p>
      </div>
    </div>
  </div>
</div>
