<header class="header-content">
    <app-header></app-header>
    <section class="information">
        <h1>Bienvenido a Estaciona+</h1>
        <p> EstacionaPlus es una aplicación donde podras ver la disponibilidad de los parqueaderos de tu región, para que puedas asegurar tu puesto en el instante que desees. </p>
    </section>
</header>
<main >
    <section class="parkings">
        <h1 class="parkings-title" >Estacionamientos Disponibles</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col" *ngFor="let parking of parkings">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ parking.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted"> NIT: {{ parking.nit }}</h6>
                            <p class="card-text">Dirección: {{ parking.address }} - {{ parking.city.name }}, {{ parking.city.state.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="text-center text-white" style="background: linear-gradient(#0348af, #0d6efd)">
    <div class="text-center p-3" style="background-color: primary">
      <p class="h4">© 2022 Copyright: EstacionaPlus</p>
    </div>
</footer>