.header-content
{
  background-image: url('../../../../assets/images/fondo.jpg');
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.information
{
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.information h1
{
  color: var(--just-white);
  font-size: 5rem;

}

main
{
  margin: 15px;
}

.card
{
  margin: 15px 10px 15px 10 px;
}

.card-body
{
  margin: 5px;
}

.card-header
{
  font-size: 2rem;
  font-weight: var(--bold);
  padding-bottom: 5px;
}

.card-title
{
  font-size: 1.8rem;
}

.card-text
{
  font-size: 1.4rem;
}

.btn-container
{
  margin: 15px;
}

.btn
{
  width: 15vw;
  font-size: 1.4rem;
  font-weight: var(--bold);
}

.footer
{
  background: linear-gradient(#0348af, #0d6efd);
}

.footer div
{
  background-color: primary;
}
