<header class="header-content">
  <app-header-loged></app-header-loged>
  <section class="information">
      <h1>Mis Reservaciones</h1>
  </section>
</header>
<main>
  <section class="card w-100">
    <div class="card-header">
      Reservación # 1
    </div>
    <div class="card-body">
      <h5 class="card-title">Fecha de la Reservación</h5>
      <p class="card-text">29/4/2022</p>
    </div>

    <div class="card-body">
      <h5 class="card-title">Hora de Llegada - Hora de Salida</h5>
      <p class="card-text">13:00:00 - 15:00:00</p>
    </div>

    <div class="card-body">
      <h5 class="card-title">Precio</h5>
      <p class="card-text">$4000</p>
    </div>

    <div class="card-body">
      <h5 class="card-title">Lugar</h5>
      <p class="card-text">#1 - A1: Motocicleta</p>
    </div>

    <div class="card-body">
      <h5 class="card-title">Metodo de Pago</h5>
      <p class="card-text">Contra-entrega</p>
    </div>
  </section>
</main>
<footer class="footer text-center text-white">
  <div class="text-center p-3">
    <p class="h4">© 2022 Copyright: Estaciona+</p>
  </div>
</footer>
