<header class="header-content">
  <app-header-loged></app-header-loged>
  <section class="information">
      <h1>Mis Reservaciones</h1>
  </section>
</header>
<main>
  <section class="card w-100">
    <div class="card-header">
      Reservación # {{reservation.code}}
    </div>
    <div class="card-body">
      <h5 class="card-title">Fecha de la Reservación</h5>
      <p class="card-text">{{reservation.date}}</p>
    </div>

    <div class="card-body">
      <h5 class="card-title">Hora de Llegada - Hora de Salida</h5>
      <p class="card-text">{{reservation.arrivalTime}} - {{reservation.departureTime}}</p>
    </div>

    <div class="card-body">
      <h5 class="card-title">Precio</h5>
      <p class="card-text">{{reservation.price.value}}</p>
    </div>

    <div class="card-body">
      <h5 class="card-title">Lugar</h5>
      <p class="card-text">#{{reservation.place.code}} - {{reservation.place.place.position}}: {{reservation.place.place.typePlace.name}}</p>
    </div>

    <div class="card-body">
      <h5 class="card-title">Metodo de Pago</h5>
      <p class="card-text">{{reservation.paymentMethod.name}}</p>
    </div>
  </section>
</main>
<footer class="footer text-center text-white">
  <div class="text-center p-3">
    <p class="h4">© 2022 Copyright: Estaciona+</p>
  </div>
</footer>
