<header class="header-content">
  <app-header-loged></app-header-loged>
  <section class="information">
      <h1>{{user.names}} {{user.lastNames}}</h1>
  </section>
</header>
<main>
  <section class="card w-100">
    <div class="card-header">
      Información Personal
    </div>
    <div class="card-body">
      <h5 class="card-title">Número de Identificación</h5>
      <p class="card-text">{{user.identificationNumber}}</p>
    </div>

    <div class="card-body">
      <h5 class="card-title">Número de Telefono</h5>
      <p class="card-text">{{user.phone}}</p>
    </div>

    <div class="card-body">
      <h5 class="card-title">Correo Electronico</h5>
      <p class="card-text">{{user.email}}</p>
    </div>

    <div class="btn-container" *ngIf="false">
      <a href="#" class="btn btn-primary">Mi Estacionamiento</a>
    </div>

  </section>
  <section class="card w-100">
    <div class="card-header">
      Información del Vehiculo
    </div>
    <div class="card-body">
      <h5 class="card-title">Tipo de Vehiculo</h5>
      <p class="card-text">{{user.vehicle.typeVehicle.name}}</p>
    </div>

    <div class="card-body">
      <h5 class="card-title">Licencia</h5>
      <p class="card-text">{{user.vehicle.license}}</p>
    </div>
  </section>
</main>
<footer class="footer text-center text-white">
  <div class="text-center p-3">
    <p class="h4">© 2022 Copyright: Estaciona+</p>
  </div>
</footer>
