<header class="header-content">
  <app-header></app-header>
  <section class="information">
      <h1>Esteban Colorado González</h1>
  </section>
</header>
<main>
  <section class="card">
    <div class="card-header">
      Información Personal
    </div>
    <div class="card-body">
      <h5 class="card-title">Número de Identificación</h5>
      <p class="card-text">1038418594</p>
    </div>

    <div class="card-body">
      <h5 class="card-title">Número de Telefono</h5>
      <p class="card-text">3228486049</p>
    </div>

    <div class="card-body">
      <h5 class="card-title">Correo Electronico</h5>
      <p class="card-text">estebancoloradogonzalez@gmail.com</p>
    </div>

    <div class="card-body">
      <h5 class="card-title">¿Eres Administrador?</h5>
      <p class="card-text">No</p>
    </div>
  </section>
  <section class="card">
    <div class="card-header">
      Información del Vehiculo
    </div>
    <div class="card-body">
      <h5 class="card-title">Tipo de Vehiculo</h5>
      <p class="card-text">Motocicleta</p>
    </div>

    <div class="card-body">
      <h5 class="card-title">Licencia</h5>
      <p class="card-text">USV36D</p>
    </div>
  </section>
</main>
<footer class="footer text-center text-white">
  <div class="text-center p-3">
    <p class="h4">© 2022 Copyright: Estaciona+</p>
  </div>
</footer>
